@tailwind base;
@tailwind components;

body {
  font-family: "Inter", sans-serif;
}

a {
  color: #4299e1;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@tailwind utilities;
